<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Summary</h2>
<div class="summary">
    <p>
        A CTO/Solution Architect/Engineering Manager with 15 years of experiences in:<br>
- web, iOS, android and game development<br>
- different programming languages: Java, Python, Objective-C, Kotlin, Javascript, C#<br>
- various industries: retail, fintech, IoT, video recording and editing tools, logistics, blockchain<br>
- outsourcing, product company and startup co-founder<br>
<br>
Specialities: AWS Cloud architect, mobile development (iOS, android), technical leadership, product strategy, team builder
    </p>
</div><!--//summary-->
</section><!--//section-->
