<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">CTO, partner (part-time)</h3>
                            <div class="time">5/2022 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">StreamHub</div>
                    </div><!--//meta-->
                    <div class="details">                        
                        <p>- Support my partner to build a startup platform.</p>                        
                        <p>- Provide technical architecture, solutions and roadmaps for a SaaS video streaming hub.</p>                        
                        <p>- Oversee the development team to build the first MVP.</p>
                        <p>- Tech used: AWS, Java, PHP, Javascript, Dynamodb, RDS, Serverless, Microservice.</p>
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Project Manager cum Solution Architect</h3>
                            <div class="time">6/2017 - 4/2022</div>
                        </div><!--//upper-row-->
                        <div class="company">Dirox</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- Build large-scale SaaS products to serve millions of users, million dollar for development budget.</p>
                        <p>- Lead and responsible for multiple projects concurrently.</p>
                        <p>- Provide solutions for company-wide products that requires compliances or standards.</p>
                        <p>- Provide technical architecture documentations, support development teams and code reviews.</p>
                        <p>- Maintain a collaborative relationship with clients in terms of technical roadmap and feature enhancements.</p>
                        <p>- Provide technical proposals, proof of concepts, case studies and white papers.</p>
                        <p>- Set up continuous build environment to speed up software development and deployment process.</p>
                        <p>- Project management, ensure deliverables are met with respect to quality, cost and time.</p>
                        <p>- Hire, develop and retain new talents for the company.</p>
                        <p>- Project domain: Large-scale video recording and editing platforms, Blockchain, Crypto, eWallet, IoT, eCommerce.</p>
                        <p>- Tech used: AWS, Firebase, Web3js, Torus DirectAuth, Ethereum, Smart contract, ERC20, Bluzelle, Uport, S3, Amazon Rekognition, Amazon Textract, IPFS, Sqlite, AWS Gateway API, Amazon RDS, Dynamodb, Microservice, Lambda, Docker, RESTful, graphQL, Amplify, Nodejs, Python, CodeIgniter, Java, Android, iOS, Chromebook, ffmpeg, openh264, openGL, BLE, Amplitude.</p>
                        <br/>
                        <p>Achievement: Our products are used by multi-million users around the world.</p>
                    </div><!--//details-->
                </div><!--//item-->
                                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">CTO, Co-founder</h3>
                            <div class="time">6/2013 – 5/2017</div>
                        </div><!--//upper-row-->
                        <div class="company">HQTech</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- Coordinate with a partner in Germany to build eCommerce products, cloud kitchen systems, POS, CRM which are currently being used on the global markets.</p>
                        <p>- Fully responsible for operations of multiple development teams (30 people) on daily basic.</p>
                        <p>- Provide detailed technical solutions for all projects on backend, frontend and mobile sides.</p>      
                        <p>- Work on critical features which require high customizations and optimizations.</p>                                      
                        <p>- Hire, train and allocate human resources for all projects.</p>
                        <p>- Project domain: eCommerce, Cloud Kitchen, POS and CRM.</p>
                        <p>- Tech used: PHP, AWS, Android, iOS, Windows, Redis, ElasticSearch, RDS, Dynamodb, Postgresql.</p>
                        <br/>
                        <p>Achievement: The products are used by thousands of merchants/customers in Europe.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Chief Developer</h3>
                            <div class="time">5/2011 – 5/2013</div>
                        </div><!--//upper-row-->
                        <div class="company">21ilab(Ringier Vietnam)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- Build large-scale eCommerce products and sales kit tools.</p>
                        <p>- Lead and be responsible for all software projects in Vietnam regularly.</p>
                        <p>- Decide technical convention and architecture.</p>
                        <p>- Decide technical architectures and conventions.</p>
                        <p>- Hire, train and retain new employees.</p>
                        <p>- Tech used: Azure,.NET, C#, PHP, Javascript, iOS, android, MS SQL Server.</p>
                        <br/>
                        <p>Achievement: The products received awards from international organizations.</p>
                    </div><!--//details-->                    
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Development Team Lead</h3>
                            <div class="time">5/2010 – 5/2011</div>
                        </div><!--//upper-row-->    
                        <div class="company">gloops (Nexon games)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>gloops was acquired by Nexon at valuation of roughly $500M</p>
                        <p>- In charge of hiring developers and building social games.</p>
                        <p>- Research and apply new technologies for games,  be responsible for challenges in projects.</p>  
                        <br/>
                        <p>Achievement: gloops was acquired by Nexon at valuation of roughly $500M.</p>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">4/2009 – 5/2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Pyramid Consulting</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- Build deep customized iOS and android applications which help to stretch native features of mobile devices.</p>  
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">4/2008 – 4/2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Tech Propulsion Labs</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- Build complex Java applications which support managing user interface on the backend side.</p>
                        <p>- Build distributed systems using Windows services.</p>  
                    </div><!--//details-->
                </div><!--//item-->
  
            </section><!--//section-->
