
<section class="section patent-section">
                <h2 class="section-title"><i class="fa fa-lightbulb-o"></i>Certifications</h2>
                
                <div class="item">
                        <h3 class="patent-title"><a href="https://www.credly.com/users/kiem-duong-van/badges">AWS Solution Architect - Professional</a></h3>
                        <div class="patent-id">AWS, 2022</div>
                </div><!--//item-->

                <div class="item">
                        <h3 class="patent-title"><a href="https://www.credly.com/users/kiem-duong-van/badges">AWS Certified Security – Specialty</a></h3>
                        <div class="patent-id">AWS, 2022</div>
                </div><!--//item-->

                <div class="item">
                        <h3 class="patent-title"><a href="https://www.credly.com/users/kiem-duong-van/badges">AWS Solution Architect - Associate</a></h3>
                        <div class="patent-id">AWS, 2022</div>
                </div><!--//item-->
  
                <div class="item">
                        <h3 class="patent-title"><a href="https://www.credly.com/users/kiem-duong-van/badges">AWS Certified Developer - Associate</a></h3>
                        <div class="patent-id">AWS, 2022</div>
                </div><!--//item-->
                <div class="item">
                        <h3 class="patent-title"><a href="https://www.credly.com/users/kiem-duong-van/badges">PSM 1</a></h3>
                        <div class="patent-id">Scrum.org, 2021</div>
                </div><!--//item-->
                <div class="item">
                        <h3 class="patent-title"><a href="https://www.linkedin.com/in/kiemduong77/details/certifications/">Online Courses Certifications</a></h3>
                        <div class="patent-id">2010 - 2022</div>
                </div><!--//item-->
            </section> <!--//section-->

        
