<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <!-- <div class="intro">
                    <p> Recent projects or open source libraries</p>
                </div> -->

                <div class="item">
                    <span class="project-title"><a href="https://screencast-o-matic.com">Screencast-o-Matic</a></span> - <span class="project-tagline">A SaaS video recording, editing and sharing platform which supports Mac, Windows, web, chromebook, iPad, iPhone and android devices</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://myhomi.io" target="_blank">Myhomi</a></span> - 
                    <span class="project-tagline"> IoT project that provides cutting-edge smart home technology.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://www.emotiv.com" target="_blank">Emotiv</a></span> - <span class="project-tagline">Unlockers of the human brain and decoders of the human experience.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Unitkey</a></span> - <span class="project-tagline">Cryptocurrency exchange platform like Binance which supports hardware wallet (pending and waiting fund)</span>
                </div><!--//item-->   
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Logchain</a></span> - <span class="project-tagline">Logistics platform innovation by blockchain</span>
                </div><!--//item-->   
                <div class="item">
                    <span class="project-title"><a href="http://hqtech.de/" target="_blank">POS, Cloud Kitchen systems</a></span> - <span class="project-tagline">Complete POS, Cloud Kitchen platform which supports Windows, web, android devices</span>
                </div><!--//item-->   
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Streamhub</a></span> - <span class="project-tagline">Video streaming platform helps you broadcast to Facebook, YouTube, LinkedIn, Twitch and other platforms.</span>
                </div><!--//item-->                            
            </section><!--//section-->