<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p> Recent projects or open source libraries</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a href="https://screencast-o-matic.com">Screencast-o-Matic</a></span> - <span class="project-tagline">Screen capture tools help you easily create, edit and communicate with videos and images. Simple and intuitive tools to share your ideas. Support multiple platforms: Web, Windows, Mac, Chromebook, iOS and android</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://myhomi.io" target="_blank">Myhomi</a></span> - 
                    <span class="project-tagline"> IoT project that provides cutting-edge smart home technology</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://www.emotiv.com" target="_blank">Emotiv</a></span> - <span class="project-tagline">Empowering individuals to understand their brain and accelerate brain research globally.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Streamhub</a></span> - <span class="project-tagline">Video streaming platform helps you broadcast to Facebook, YouTube, LinkedIn, Twitch and other platforms.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Unitkey</a></span> - <span class="project-tagline">Crypto exchange platform, crypto wallet (in-progress)</span>
                </div><!--//item-->                
            </section><!--//section-->